{% extends 'layout.html' %}

{% block title %}
    <title>Modifier une région</title>
{% endblock %}

{% block body %}
<main>
    <div class="container">
        <h2 >Modifier une région</h2>
    </div>
    {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form method="post" action="/region/edit">
      <fieldset>
          <legend>Modifier une région</legend>
          <input type="hidden" name="id" value="{{ region.id }}" id="id">
          <div>
              <label for="nomRegion">Nom</label><br>
              <input type="text" name="nomRegion" value="{{ region.nomRegion }}" id="nomRegion"><br>
          </div>

          <input class="btn" type="submit" value="Modifier" name="Modifier" >
      </fieldset>
    </form>
</main>
{% endblock %}