{% extends 'layout.html' %}

{% block title %}
    <title>Filtrer les clubs</title>
{% endblock %}

{% block body %}
<main>
    <details class="filter container">
        <summary>Les filtres</summary>
        <form action="/club/filtre" method="get">
            <div class="left">
                <label for="nom">Club dont le nom est composé de:</label>
                <input type="text"
                       name="nom"
                       placeholder="Recherche"
                       id="nom"
                       value="{{ args.nom }}">
            </div>

            <div class="row" id="filters_grid">
                <fieldset class="left mid allow-y-scroll">
                    <h2>Regions</h2>
                    {% if regions | length >= 1 %}
                        {% for region in regions %}
                            <div class="row centered height_30">
                                {% if region.id|string in selected_regions %}
                                    <label class="width-125" for="region_{{ region.id }}_1">{{ region.nomRegion }}</label>
                                    <input type="checkbox"
                                        id="region_{{ region.id }}_1"
                                        name="region"
                                        value="{{ region.id }}"
                                        checked>
                                {% else %}
                                    <label class="width-125" for="region_{{ region.id }}_2">{{ region.nomRegion }}</label>
                                    <input type="checkbox"
                                        id="region_{{ region.id }}_2"
                                        name="region"
                                        value="{{ region.id }}">
                                    {% endif %}
                                </div>
                        {% endfor %}
                    {% else %}
                        <p>Aucune région n'existe</p>
                    {% endif %}
                </fieldset>
                <div class="mid full-height">
                    <fieldset class="left mid_height">
                        <h2>Nombre d'adhérents</h2>
                        <div class="row centered">
                            <label for="min_adherents">Minimum:</label>
                            <input value="{{ args.min_adherents }}" type="number" id="min_adherents" name="min_adherents" placeholder="minimum"><br>
                            <label for="max_adherents">Maximum:</label>
                            <input value="{{ args.max_adherents }}" type="number" id="max_adherents" name="max_adherents" placeholder="maximum">
                        </div>
                    </fieldset>
                    <fieldset class="left mid_height">
                        <h2>Prix de la cotisation</h2>
                        <div class="row centered">
                            <label for="min_cotisation">Minimum:</label>
                            <input value="{{ args.min_cotisation }}"
                                   type="number"
                                   id="min_cotisation"
                                   name="min_cotisation"
                                   placeholder="minimum">
                            <br>
                            <label for="max_cotisation">Maximum:</label>
                            <input value="{{ args.max_cotisation }}"
                                   type="number"
                                   id="max_cotisation"
                                   name="max_cotisation"
                                   placeholder="maximum">
                        </div>
                    </fieldset>
                </div>
            </div>

            <button type="submit">Appliquer les filtres</button>

        </form>
    </details>
    <div class="container for_docker">
        <h2>Résultat de la recherche</h2>
        <p>{{ clubs | length }} résultat{{ 's' if clubs|length > 1 else '' }}</p>

        <div class="docker">
            {% if clubs | length >= 1 %}
                {% for club in clubs %}
                    <div class="card">
                        <h3>{{ club.nomClub }}</h3>
                        {% if club.image %}
                            <img src="{{ url_for('static', filename=('/images/' + club.image)) }}" alt="{{ club.image }}">
                        {% else %}
                            <img src="{{ url_for('static', filename='/images/no_photo.jpeg') }}" alt="no_image">
                        {% endif %}
                        <div class="infos">
                            <p><strong>{{ club.nbAdherent }}</strong> adhérent(s)</p>
                            <p>Cotisation: <strong>{{ club.prixCotisation }}€</strong></p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucun club ne correspond à vos critères de recherche</p>
                <a href="/club/filtre">Nettoyer les filtres</a>
            {% endif %}
        </div>


    </div>
</main>
{% endblock %}