@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  max-width: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  background: #f6f6f6;
  box-sizing: border-box;
  overflow-y: scroll;
  color: #000;
  font-family: 'League Spartan', sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
  background: #ccc;
}
::-webkit-scrollbar-thumb {
  background: #2A7AC1;
  border-radius: calc(8px / 3);
}
::-webkit-scrollbar-thumb:hover {
  background: #d5d5d5;
}
nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background: #f6f6f6;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  user-select: none;
}
nav img {
  height: 45px;
  width: auto;
  margin: auto 0;
}
nav .right {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .right a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  margin: auto 0;
  padding: 5px 30px;
}
nav .right a:hover {
  color: #2A7AC1;
}
nav .right .dropdown {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .right .dropdown .subdir {
  display: none;
}
nav .right .dropdown:hover .subdir {
  position: absolute;
  padding: 15px;
  margin: 10px 0 0 0;
  transform: translate(-25%, 50px);
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 7px;
  background: #ccc;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}
nav .right .dropdown:hover .subdir a {
  margin: 5px 10px;
  padding: 0;
}
main {
  padding: calc(50px + 15px) 15px 15px 15px;
  height: calc(100% - 50px - 30px);
  width: calc(100% - 30px);
}
.container {
  margin: 10px;
  padding: 15px;
  max-width: calc(100% - 50px);
  background-color: #ebebeb;
  border-radius: 7px;
  border: 2px solid #000;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
button,
.btn {
  margin: 10px;
  padding: 15px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  user-select: none;
}
button.cancel,
.btn.cancel {
  background: #555555;
}
button.red,
.btn.red {
  background: #c12121;
}
button:hover,
.btn:hover {
  padding: 17px 22px;
  margin: 8px;
  transition: 0.15s ease-in-out;
}
table {
  margin: 25px auto 10px auto;
  width: 98.4%;
  border-collapse: collapse;
}
table thead,
table tbody {
  border: 1px solid #000;
}
table td,
table th {
  text-align: left;
  padding: 0 20px;
  font-weight: 400;
  height: 40px;
}
table td img,
table th img {
  max-height: 40px;
}
th[scope=row] {
  font-weight: 700;
}
th.actions {
  height: 40px;
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}
th.actions a {
  margin: 0 5px;
  cursor: pointer;
}
th.actions a svg {
  height: 20px;
  margin: 2px;
}
th.actions a svg:hover {
  margin: 0;
  height: 24px;
}
tbody tr:nth-child(even) {
  background: #ebebeb;
}
tbody tr:nth-child(odd) {
  background: #f6f6f6;
}
input,
select {
  border: 2px solid #d5d5d5;
  border-radius: 7px;
  margin: 5px;
  padding: 10px 20px;
  background: #d5d5d5;
  color: #000;
  outline: none;
}
input[type="number"],
select[type="number"] {
  min-width: 100px;
}
input:focus,
select:focus,
input:hover,
select:hover {
  border: 2px solid #2A7AC1;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
form {
  width: 100%;
  user-select: none;
}
form fieldset {
  width: 95%;
  border: 1px dashed #000;
  border-radius: 7px;
  margin: 10px 0;
}
form button,
form .btn {
  margin: 10px;
  padding: 10px 25px;
}
form button:hover,
form .btn:hover {
  padding: 12px 27px;
  margin: 8px;
}
form .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
form .left p {
  margin: 2px 0;
}
form .left input {
  margin: 5px 0;
}
form .height-500 {
  height: 200px;
}
form .row {
  display: flex;
  flex-direction: row;
  height: 100%;
}
form .row .centered {
  align-items: center;
}
form .row .centered label {
  margin-right: 10px;
  margin-left: 5px;
}
form .row .mid {
  width: calc(50% - (0.25em * 2));
  margin-right: 0.25em;
  margin-left: 0.25em;
}
form .row .mid_height {
  height: 40%;
}
form .row .height_30 {
  height: 30px;
}
form .row .full_width {
  width: 100%;
}
form .row .full-height {
  height: 100%;
  align-self: stretch;
}
form .allow-y-scroll {
  overflow-y: scroll;
}
form .width-125 {
  width: 125px;
}
form .delete_cascade li {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #000;
  width: fit-content;
}
form .delete_cascade li p {
  width: 300px;
}
form .delete_cascade li a {
  margin: 0 5px;
  cursor: pointer;
}
form .delete_cascade li a svg {
  height: 30px;
  margin: 2px;
}
form .delete_cascade li a svg:hover {
  margin: 0;
  height: 34px;
}
#filters_grid {
  height: 300px;
}
#filters_grid h2 {
  margin: 10px 5px;
}
#filters_grid input[type=number] {
  width: 40px;
}
details {
  padding: 10px 0;
}
details summary {
  list-style: none;
  user-select: none;
  font-weight: 600;
  padding: 10px 0;
  cursor: pointer;
}
details summary::-webkit-details-marker {
  display: none;
}
details summary::before {
  content: "+";
  font-size: 1.2em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: absolute;
  right: 5%;
}
details[open] summary::before {
  content: "-";
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.docker {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 15px;
}
.docker .card {
  height: 325px;
  width: 200px;
  border-radius: 7px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  transition: 0.1s ease-in-out;
}
.docker .card h3 {
  margin: 15px 5px;
}
.docker .card img {
  height: 200px;
  width: auto;
  max-width: 200px;
  margin: auto;
}
.docker .card .infos {
  margin: auto 5px 10px 5px;
}
.docker .card .infos p {
  margin: 3px 0;
}
.docker .card:hover {
  background-color: #ccc;
  border-color: #000;
  transition: 0.1s ease-in-out;
}
.notifications {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
}
@keyframes over_notif_close {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}
.notifications .notif {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;
  margin: 5px 10px 5px 0;
  width: 250px;
  border: 4px solid #000;
  background: #fdfdfd;
  border-radius: 7px;
}
.notifications .notif .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.notifications .notif .header h4 {
  margin: 0;
  text-transform: uppercase;
}
.notifications .notif .header svg {
  height: 50%;
  width: auto;
  margin-left: auto;
}
.notifications .notif .header svg:hover {
  animation: over_notif_close 0.5s ease-in-out;
  transform: scale(1.2);
}
.notifications .notif .message {
  margin: 15px auto 10px 0;
}
.notifications .notif.info {
  border: 4px solid #2166c1;
  background: #c6d4eb;
}
.notifications .notif.error {
  border: 4px solid #c12121;
  background: #ebc6c6;
}
.notifications .notif.success {
  border: 4px solid #28a14f;
  background: #c6ebd3;
}
.notifications .notif.warn,
.notifications .notif.warning {
  border: 4px solid #dd9024;
  background: #ebddc6;
}
@media (min-width: 1000px) {
  .docker,
  .container.for_docker {
    width: 96.4%;
    margin: 0 auto;
  }
  .container.for_docker {
    background: transparent;
  }
}
/*# sourceMappingURL=style.css.map */