@background_color: #fff;
@text_color: #000;
@shadow: rgba(0, 0, 0, 0.15);
@main_color: #618264;
@second_color: #79AC78;
@third_color: #B0D9B1;
@midfourth_color: #c8decb;
@fourth_color: #D0E7D2;

@red: #e74444;
@blue: #1050a6;
@green: #10a613;
@orange: #c7b017;

@import (css) url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100%;

  background: @fourth_color;

  box-sizing: border-box;
  overflow-y: scroll;

  color: @text_color;
  font-family: 'League Spartan', sans-serif;
}

@scroll_bar_width: 8px;

::-webkit-scrollbar {
  width: @scroll_bar_width;
  background: @third_color;
}
::-webkit-scrollbar-thumb {
  background: @main_color;
  border-radius: calc(@scroll_bar_width / 3);
}
::-webkit-scrollbar-thumb:hover {
    background: @second_color;
}

@navbar_height: 50px;
nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  width: 100vw;
  height: @navbar_height;

  background: @third_color;
  box-shadow: 0 2px 3px @shadow;

  display: flex;
  flex-direction: row;

  user-select: none;

  img {
    height: 45px;
    width: auto;
    margin: auto 0;
  }

  .right {
    margin: 0 auto;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      text-decoration: none;
      color: @text_color;
      font-weight: 700;

      margin: auto 10px;

      &:hover {
        color: @main_color
      }
    }

    .dropdown {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .subdir {
        display: none;
      }

      &:hover .subdir {
        position: absolute;
        padding: 15px;
        margin: 10px 0 0 0;

        transform: translate(-25%, @navbar_height);

        display: flex;
        flex-direction: column;

        border: 1px solid @fourth_color;
        border-radius: 7px;
        background: @third_color;

        box-shadow: 1px 1px 2px @shadow;

        a {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }
}


main {
  padding: calc(@navbar_height + 15px) 15px 15px 15px;

  height: calc(100% - 50px - 30px);
  width: calc(100% - 30px);
}


.container {
  margin: 10px;
  padding: 15px;
  background-color: @third_color;

  height: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


button, .btn {
  margin: 10px;
  padding: 15px 20px;
  background-color: @text_color;
  color: @background_color;

  text-decoration: none;

  border-radius: 10px;
  border: none;
  transition: 0.15s ease-in-out;

  cursor: pointer;
  user-select: none;

  &:hover {
    padding: 17px 22px;
    margin: 8px;
    transition: 0.15s ease-in-out;
  }
}


table {
  margin: 25px auto 10px auto;
  width: 90%;
  border-collapse: collapse;

  thead, tbody {
    border: 1px solid @text_color;
  }

  td, th {
    text-align: left;
    padding: 0 20px;
    font-weight: 400;

    height: 40px;

    img {
      max-height: 40px;
    }
  }
}

th[scope=row] {
  font-weight: 700;
}



th.actions {
  height: 40px;
  width: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;

  a {
    margin: 0 5px;

    cursor: pointer;

    svg {
      height: 20px;
      margin: 2px;

      &:hover {
        margin: 0;
        height: 24px;
      }
    }
  }
}


tbody {
  tr:nth-child(even) {
    background: @fourth_color;
  }
  tr:nth-child(odd) {
    background: @midfourth_color;
  }
}

input, select {
  border: 2px solid @second_color;
  border-radius: 7px;
  margin: 5px;
  padding: 10px 20px;
  background: @second_color;
  color: @text_color;

  outline: none;

  &:focus, &:hover {
    border: 2px solid @main_color;
  }
}

input::placeholder {
  color: rgba(@text_color, 0.5);
}

form {
  width: 100%;
  user-select: none;


  fieldset {
    width: 95%;
    border: 1px dashed @text_color;
    border-radius: 7px;

    margin: 10px 0;
  }

  button, .btn {
    margin: 10px;
    padding: 10px 25px;

    &:hover {
      padding: 12px 27px;
      margin: 8px;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      margin: 2px 0;
    }

    input {
      margin: 5px 0;
    }
  }

  .height-500 {
    height: 200px;
  }

  .row {
    display: flex;
    flex-direction: row;
    height: 100%;

    .centered {
      align-items: center;

      label {
        margin-right: 10px;
        margin-left: 5px;
      }
    }

    .mid {
      width: calc(50% - (0.25em * 2));
      margin-right: 0.25em;
      margin-left: 0.25em;
    }

    .mid_height {
      height: 40%;
    }

    .height_30 {
      height: 30px;
    }

    .full_width {
      width: 100%;
    }

    .full-height {
      height: 100%;
      align-self: stretch;
    }
  }

  .allow-y-scroll {
    overflow-y: scroll;
  }

  .width-125 {
    width: 125px;
  }
}

.notifications {
  position: fixed;
  bottom: 20px;
  right: 20px;

  max-height: calc(100% - 40px);
  width: 304px;

  display: flex;
  flex-direction: column-reverse;

  user-select: none;

  .alert {
    width: 280px;
    padding: 10px;
    margin: 5px 0;

    background: @second_color;
    border: 2px solid @third_color;
    border-radius: 7px;

    h3 {
      margin-bottom: 0
    }

    &.info {
      background: @blue;
      border-color: rgba(@blue, 0.2);
    }

    &.warning {
      background: @orange;
      border-color: rgba(@orange, 0.2);
    }
  }
}


#filters_grid {
  height: 300px;

  h2 {
    margin: 10px 5px;
  }

  input[type=number] {
    width: 40px;
  }
}

details {
  padding: 10px 0;

  summary {
    list-style: none;
    user-select: none;

    font-weight: 600;
    padding: 10px 0;

    &::-webkit-details-marker {
      display: none;
    }

    &::before {
      content: "+";
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      position: absolute;
      right: 5%;
    }
  }

  &[open] summary::before {
    content: "-";
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.docker {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 10px;

  .card {
    height: 325px;
    width: 200px;
    border-radius: 7px;
    box-shadow: 1px 1px 2px @shadow;

    display: flex;
    flex-direction: column;

    border: 1px solid @third_color;

    h3 {
      margin: 15px 5px;
    }

    img {
      height: 200px;
      width: auto;
      max-width: 200px;
      margin: auto;
    }

    .infos {
      margin: auto 5px 10px 5px;

      p {
        margin: 3px 0;
      }
    }

    transition: 0.1s ease-in-out;

    &:hover {
      background-color: @third_color;
      border-color: @fourth_color;
      transition: 0.1s ease-in-out;
    }
  }
}

@media (min-width: 1000px) {
  .docker, .container.for_docker {
    width: 830px;
    margin: 0 auto;
  }
  .container.for_docker  {
    background: transparent;
  }
}